
#app {
  overflow: hidden;
  height: 100vh;
  background: var(--background);
}

.app-container {
  display: grid;
  grid-template: auto / 400px auto;
  height: 100%;
  overflow: hidden;
}

aside {
  overflow: auto;
  padding: 20px 16px;
}

main {
  overflow: auto;
}





