
.loading {
  border: 1px solid #f3f3f3; 
  border-top: 1px solid var(--primary); 
  border-radius: 50%;
  margin-top: 40px;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  margin-left: 40%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.error {
  color: #ed4956;
}

body {
  font-family: 'Nunito', 'Segoe UI', Helvetica, Arial, sans-serif;
  margin: 0;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
}

*, input, button {
  outline:none !important;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

::-webkit-scrollbar {
  display: none;
}

::selection {
  background: var(--primary);
  color: var(--background);
}

