
:root {
  --background: #fafafa;
  --background-light: white;
  --text: black;
  --primary: #D68F82;

  // --background: #151515;
  // --background-light: #2a2a2a;
  // --text: white;
  // --primary: #D68F82;
}


